.place__title {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 72px;
    color: #FFF;
    margin: 0px;
    max-width: 460px;
    margin-block-start: auto;
    align-content: center;
    line-height: 76px;
    font-weight: 900;
}

@media (min-width: 501px) and (max-width: 830px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}
  
@media  (max-width: 500px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
        margin-top: 25px;
    }
}