.place__image {
    margin: 0px;
}

@media (min-width: 801px) and (max-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}
  
@media (min-width: 501px) and (max-width: 800px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media  (max-width: 500px) {
    .place__image {
        width: 320px;
        height: 320px;
    }
}