.place__image {
    margin: 0px;
}

@media (min-width: 831px) and (max-width: 1250px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}
  
@media (min-width: 750px) and (max-width: 830px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}

@media  (max-width: 749px) {
    .place__image {
        width: 320px;
        height: 320px;
    }
}