.lead {
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 56px auto auto auto;
  display: flex;               
  flex-direction: column;
}

@media (max-width: 1024px) {
  .lead {
    margin: 48px auto auto auto; 
  }
}

@media (max-width: 500px) {
  .lead {
    margin: 48px auto 64px auto; 
  }
}
