.lead {
  max-width: calc(100% - 296px);
  justify-content: center;
  align-content: center;
  margin: 56px 148px auto 148px;
}

@media (min-width: 831px) and (max-width: 1000px) {
  .lead {
    margin: 48px 48px auto 48px;
    max-width: calc(100% - 96px);
  }
}

@media (min-width: 300px) and (max-width: 830px) {
  .lead {
    margin: 28px 0px auto 0px;
    max-width: 100%;
  }
}

