.place__text {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-bottom: 86px;*/
}

@media (min-width: 831px) and (max-width: 1024px) {
    .place__text {
        width: 456px;
    }
}
  
@media (min-width: 501px) and (max-width: 830px) {
    .place__text {
        width: 352px;
    }
}

@media  (max-width: 500px) {
    .place__text {
        width: 288px;
    }
}