.place__text {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

  
@media (min-width: 900px) and (max-width: 1000px) {
    .place__text {
        width: 352px;
    }
}

@media  (max-width: 900px) {
    .place__text {
        width: 288px;
    }
} 