.lead__title {
    color: #FFF;
    font-size: 96px;
    max-width: 720px;
    margin: 0px auto;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
}

@media (max-width: 770px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0px 16px auto 16px;
    }
}