.lead__title {
  color: #FFF;
  font-size: 96px;
  max-width: 720px;
  margin: 0px auto;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
}


@media (max-width: 733px) {
  .lead__title {
    line-height: 44px;
    font-size: 40px;
    margin: 0px auto auto auto;
  }
}