.footer__links {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #FFF;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media  (max-width: 600px) {
    .footer__links {
        flex-direction: column;
        font-size: 24px;
        line-height: 24px;
    }
}