.place__paragraph {
    font-family: "Inter", "Arial", sans-serif;
    color: #FFF;
    font-size: 18px;
    line-height: 163%;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 25px;
}

@media (max-width: 830px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media  (max-width: 755px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.place__paragraph:last-of-type {
    padding-bottom: 0px;
}
