.place__paragraph {
    font-family: "Inter", "Arial", sans-serif;
    color: #FFF;
    font-size: 18px;
    line-height: 163%;
    font-weight: normal;
    margin-bottom: 26px;
    margin-top: 0px;
}

@media (min-width: 750px) and (max-width: 830px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media  (max-width: 755px) {
    .place__paragraph {
        margin-bottom: 0px;
        margin-left: 16px;
    }
}