.footer__copyright {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    text-decoration: none; 
    margin: 0px;
}

@media  (max-width: 520px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 48px;
    }
}