.lead__image {
  background-image: url(../../../images/__image5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 984px;
  height: 615px;
}

@media (min-width: 841px) and (max-width: 1195px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}

@media (min-width: 501px) and (max-width: 840px) {
  .lead__image {
    width: 768px;
    height: 480px;
  }
}

@media  (max-width: 500px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }
}