.place__website_link {
    color: #FFF;
    text-decoration: underline;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.place__website_link:hover {
    color: rgba(255, 255, 255, 0.8);
}