.photo__container {
   display: grid;
   grid-template-columns: repeat(4, 284px);
   gap: 16px;
   
}

@media (min-width: 831px) and (max-width: 1250px) {
   .photo__container {
      grid-template-columns: repeat(3, 300px);
      gap: 14px;
   }
 }
 
@media (min-width: 501px) and (max-width: 830px) {
   .photo__container {
      grid-template-columns: repeat(2, 352px);
      gap: 16px;
      
   }
}
 
@media  (max-width: 500px) {
   .photo__container {
      grid-template-columns: repeat(1, 288px);
      gap: 12px;
      
   }
}