.photo__container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 16px;
   margin: 92px 48px auto 48px;
   max-width: calc(100% - 96px);
}

@media (min-width: 768px) and (max-width: 1024px) {
   .photo__container {
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
   }
 }
 
@media (min-width: 451px) and (max-width: 768px) {
   .photo__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin: 88px 24px auto 24px;
      max-width: calc(100% - 48px);
   }
}
 
@media  (max-width: 450px) {
   .photo__container {
      grid-template-columns: 1fr;
      gap: 12px;
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 64px;
      max-width: calc(100% - 32px);
   }
}  