.intro__text {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 163%;
    color:#FFF;
    margin: 40px 0px 0px 0px;
    max-width: 690px;
    font-style: normal;
}

@media (max-width: 780px) {
    .intro__text {
        max-width: 720px;
    }
}