.intro {
  margin: 92px auto auto auto;
  display: block;
  max-width: 982px;
}

@media (min-width: 775px) and (max-width: 1024px) {
  .intro {
    margin: 92px 48px auto 48px;
  }
}

@media (min-width: 501px) and (max-width: 774px) {
  .intro {
    margin: 88px 24px auto 24px;
  }
}

@media  (max-width: 500px) {
  .intro {
    margin: 0px 16px auto 16px;
    max-width: 288px
  }
}