.intro {
  margin: 92px auto auto auto;
  display: block;
  max-width: 690px;
}

@media (min-width: 831px) and (max-width: 1024px) {
  .intro {
    margin: 92px auto auto auto
  }
}

@media (min-width: 501px) and (max-width: 830px) {
  .intro {
    margin: 88px 24px auto 24px;
  }
}

@media  (max-width: 500px) {
  .intro {
    margin: 64px 16px auto 16px;
    width: 288px
  }
}