.lead__subtitle {
    font-family: "Inter", "Arial", sans-serif;
    color: #FFF;
    font-size: 30px;
    text-align: center;
    margin: 32px auto 64px auto;
    line-height: 36px;
    font-weight: 400;
    width: 640px;
}

@media (max-width: 770px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto auto auto;
        width: 288px;
    }
}