.cover {
    margin: 92px 48px auto 48px;
    position: relative;
    background-image: url(../../images/__background.jpg);
    background-position: center;
    background-size: cover;
    max-height: 740px;
    display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cover {
        margin: 66px 0px auto 0px;
        width: 100%;
        max-height: 640px;
    }
  }
  
@media (min-width: 320px) and (max-width: 768px) {
    .cover {
        max-height: 480px;
        margin: 64px 0px auto 0px; /* указал разницу между 90px по макету и отступом у place__paragraph так как они суммируются */
    }
}

@media  (max-width: 320px) {
    .cover {
        margin: 40px 0px auto 0px;
        max-height: 200px;
    }
}

