.cover {
    margin: 92px 48px auto 48px;
    position: relative;
    background-image: url(../../images/__background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cover {
        margin: 92px 0px auto 0px;
        width: 100%;
    }
  }
  
@media (min-width: 320px) and (max-width: 768px) {
    .cover {
        margin: 90px 0px auto 0px; 
    }
}

@media  (max-width: 320px) {
    .cover {
        margin: 66px 0px auto 0px;
        min-height: 200px;
    }
}

