.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

@media (min-width: 831px) and (max-width: 1024px) {
    .cover__overlay {
        margin: 0px 0px auto 0px;
        width: 100%;
        height: 640px;
    }
}
  
@media (min-width: 501px) and (max-width: 830px) {
    .cover__overlay {
        margin: 0px 0px auto 0px;
        width: 100%;
        height: 480px;
    }
}
@media  (max-width: 500px) {
    .cover__overlay {
        margin: 0px 0px auto 0px;
        width: 100%;
        height: 200px;
    }
}

.cover__overlay:hover {
  background-color: rgba(47, 44, 47, 0.8); 
  z-index: 2;
} 

/* .cover__overlay::before {
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
} */