.lead__caption {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #FFF;
  letter-spacing: 1.5px;
  margin: 8px 0px 0px 0px;
  text-transform: uppercase; 
  box-sizing: border-box;
}

@media (min-width: 501px) and (max-width: 1018px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media  (max-width: 500px) {
  .lead__caption {
    margin-left: 16px;
  }
}