.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  gap: 40px 48px;
}

@media (min-width: 831px) and (max-width: 1000px) {
  .place {
    gap: 32px 48px;
    grid-template-columns: repeat(2, 440px);
  }
}
  
@media (min-width: 758px) and (max-width: 830px) {
  .place {
    grid-template-columns: repeat(2, 340px);
    gap: 48px 28px;
  }
}

@media  (max-width: 755px) {
  .place {
    gap: 32px;
    grid-template-columns: repeat(1, 320px);
  }
}