.footer {
  margin: 92px 48px 26px 48px;
  max-width: 1184px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  justify-content: space-between;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .footer {
    max-width: 928px;
  }
}


@media (min-width: 431px) and (max-width: 768px) {
    .footer {
    max-width: 720;
    margin: 88px 24px 24px 24px;
  }
}

  
@media (max-width: 430px) {
    .footer {
    max-width: 186px;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 64px;
  }
}