.place__website {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 456px;
    margin-top: 106px;
}

@media (min-width: 501px) and (max-width: 830px) {
    .place__website {
        width: 352px;  
    }
}
@media  (max-width: 500px) {
    .place__website {
        width: 288px;
        margin-top: 0px;
        margin-left: 16px;
    }
}