.place__website {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 456px;
    margin-top: 106px;
}

@media (min-width: 501px) and (max-width: 830px) {
    .place__website {
        max-width: 352px; 
        margin-top: 0px; 
    }
}

@media  (max-width: 500px) {
    .place__website {
        max-width: 288px;
        margin-top: 0px;
        padding-left: 16px;
    }
}