.photo {
    margin: 92px 48px auto 48px;
}

@media (min-width: 501px) and (max-width: 830px) {
    .photo {
       
       margin: 88px 24px auto 24px;
    }
 }
  
 @media  (max-width: 500px) {
    .photo {
       
       margin-left: 16px;
       margin-right: 16px;
       margin-top: 64px;
    }
 }